#logo { font-family:arial; color:rgb(0, 0, 255);font-size:150%;}

#logout { font-family:arial; color:rgb(0, 0, 255);font-size:80%;}

#logopic { float:left; width:30px; height:30px;}

#intro { font-size: 90%;font-family:arial; color:rgb(0, 0, 0);}

.login {font-size: 80%;color:rgb(200, 0, 0);}

.textboxt {font-size: 80%;font-family:arial; color:rgb(0, 0, 0);}

a {font-size: 90%;font-family:arial; color:rgb(0, 0, 0);}